// common
$color-background: #f5f5f5;
$color-view: #29a1f7;
$color-edit: #ff9d3b;
$color-delete: #f6674c;
$color-success: #00b5ad;
$color-cancel: #606266;
$color-copy: #00b5ad;
$color-required: var(--el-color-danger);
$color-abnormal: var(--el-color-danger);

$color-textLink: #21abe8;
$color-listDivide: #ced4da;
$color-tableBorder: #ced4da;
$color-boardShadow: #c2bdf1;
$color-noticeCount: #f2711c;

// NavBar
$color-background-navbar: #00b5ad;//#f5f5f5;
$color-menu-navbar: #8ebfff;

// Sidebar
$color-sidebar: #212121;
$color-sidebar-primary: #6639ff;

// board
$color-board-background: #fff;
$color-board: #6658dd;
$color-board-style1: #4a7ef6;
$color-board-style2: #29a1f7;
$color-board-style3: #6658dd;

//---- Transition
$base-transition: all 0.2s ease-in-out;
