// click 的效果
.btn_click_effect {
  &:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  &:active {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
}

// Table List 功能欄位的 button
.btn_operator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  border: none;
  background: transparent;
  line-height: 1;
  vertical-align: middle;
  &:last-child {
    margin-right: 0;
  }
  .icon {
    font-size: 18px;
  }
  &:hover {
    .icon {
      transform: scale(1.1, 1.1);
    }
  }
}

// 回到列表的 button
.btn_backList {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 10px;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 7px;
    border-color: transparent transparent transparent #007bff;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    font-weight: bolder;
    &::after {
      border-color: transparent transparent transparent #0e59aa;
    }
  }
}

// 顯示未讀篇數的 icon button
.btn_notice {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  .icon {
    font-size: 20px;
    transition: $base-transition;
  }
  .count {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    min-width: 16px;
    height: 16px;
    border-radius: 7px;
    background-color: $color-noticeCount;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    transform: translateX(20%);
  }
  &:hover {
    .icon {
      transform: scale(1.2);
    }
  }
}


.title_with_prevNext {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  > * {
    margin-right: 10px;
    :last-child {
      margin-right: 0;
    }
  }
  button {
    @include btnCircle(34px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #6658dd;
    color: #6658dd;
    [class^='icon-'] {
      font-size: 14px;
    }
    &.next {
      transform: rotate(180deg);
    }
    &:hover {
      color: #8d80ff;
    }
  }
}

