
.app_wrapper {
  overflow: hidden;
}


.app_container {
  display: flex;
  margin-top: 80px;
  padding: 20px;
}

.app_container_main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.app_main {
  padding: 20px;
  // flex: 1 1 auto;
  // height: calc(100% - 32px - 50px);
  // .main_content {
  //   box-sizing: border-box;
  // }
}

